body{  background-color: #e1ffc2;}
    h1
    {
        color:#66bfa4;
    }
    h3{
        color:#66bfbf;
    }

        
    hr
      {
          border-style: dotted  none none;
          border-color: grey; 
          border-width:5px;
          width: 5%;
      
      }
  